<!-- Block Spotlight1  -->
<div>
<section class="so-spotlight1 ">
  <div class="container">
    <div class="row">
      <div id="yt_header_left" class="col-md-9 col-md-12">
		   <!-- You can now use your library component in app.component.html -->
		   <div >

		   <ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideConfig">
				<div ngxSlickItem *ngFor="let slideitem of sliderResponse; let slideindex=index;" class="slide">
						<a (click)="onClick(slideitem.advertitemcode)">
					  <img src="https://s3-eu-west-1.amazonaws.com/{{slideitem.imageurl}}" alt="" width="100%">
					</a>
				</div>
			</ngx-slick>
		   </div>
					<!-- <div class="slideshow-container" >

							<div class="mySlides" *ngFor="let subslideitem of slideitem.sliders.slider ; let slideindex=index;">
								<a (click)="onClick(subslideitem.advertitemcode)">
								<img src="https://s3-eu-west-1.amazonaws.com/{{subslideitem.imageurl}}" style="width:100%">
							</a>
							</div>
							<a class="prev" (click)="plusSlides(-1)">&#10094;</a>
							<a class="next" (click)="plusSlides(1)">&#10095;</a>
							
							</div>
							<br>
							<div style="float:left;" *ngFor="let dummy of ' '.repeat(dotsLength).split(''), let x = index">
								<span class="dot" (click)="currentSlide(x + 1)" ></span> 
							</div> -->
      </div>
      <div id="yt_header_right" class="col-md-3 hidden-sm hidden-xs" >
        <div class="module" *ngFor="let sidebarItem of sidebarResponse">
          <div class="modcontent clearfix">
            <div class="banners">
              <div>
								 <a (click)="onClick(sidebarItem.advertitemcode)" > <!-- href="https://{{subsidebarItem.linkurl}}" -->
									<img src="https://s3-eu-west-1.amazonaws.com/{{sidebarItem.imageurl}}" alt="left-image">
								</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>  
  </section>
</div>
<section class="so-spotlight1 ">
  <div class="container">
    <div class="row">
			<div id="yt_header_right" class="col-md-12 hidden-sm hidden-xs" >
        <div class="module" *ngFor="let stripItem of stripResponse">
          <div class="modcontent clearfix">
            <div class="banners">
              <div>
                <a (click)="onClick(stripItem.advertitemcode)"><img src="https://s3-eu-west-1.amazonaws.com{{stripItem.imageurl}}" alt="left-image"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>  
</section>
<!-- //Block Spotlight1  -->

<!-- Main Container  -->
<div class="main-container container">
  <div class="row">
    <div id="content" class="col-md-12 col-md-push-0 col-sm-12 col-xs-12">
      <div class="module tab-slider titleLine">
        <h3 class="modtitle">Featured Product</h3>
        <div id="so_listing_tabs_1" class="so-listing-tabs first-load module">
						<div class="loadeding"></div>
						<div class="ltabs-wrap">
						<div class="ltabs-tabs-container" data-delay="300" data-duration="600" data-effect="starwars" data-ajaxurl="" data-type_source="0" data-lg="3" data-md="2" data-sm="2" data-xs="1" data-margin="30">
							<!--Begin Tabs-->
							<div class="ltabs-tabs-wrap"> 
							<span class="ltabs-tab-selected">Jewelry &amp; Watches						</span> <span class="ltabs-tab-arrow">▼</span>
								<div class="item-sub-cat">
									<ul class="ltabs-tabs cf">
										<li class="ltabs-tab tab-sel" data-category-id="20" data-active-content=".items-category-20"> <span class="ltabs-tab-label">Jewelry &amp; Watches						</span> </li>
									</ul>
								</div>
							</div>
							<!-- End Tabs-->
						</div>
						<div class="ltabs-items-container">
							<!--Begin Items-->
							<div class="ltabs-items ltabs-items-selected items-category-20 grid" data-total="10">
								<div class="ltabs-items-inner ltabs-slider  owl2-carousel owl2-theme owl2-loaded">

								<div class="owl2-stage-outer"><div class="owl2-stage" style="transform: translate3d(0px, 0px, 0px); transition: 0s; width: 1200px;" >
									<div class="owl2-item active" style="width: 370px; margin-right: 30px;" *ngFor="let ribbon2Item of ribbon2Response">
										<div class="ltabs-item product-layout">
										<div class="product-item-container" >
											<div class="left-block">
												<div class="product-image-container second_img ">
														<div class="img-box">
													<img src="https://s3-eu-west-1.amazonaws.com{{ribbon2Item.imageurl}}" alt="Apple Cinema 30&quot;" class="img-responsive">
													<img src="https://s3-eu-west-1.amazonaws.com{{ribbon2Item.imageurl}}" alt="Apple Cinema 30&quot;" class="img_0 img-responsive">
												</div>
												<!--Sale Label-->
												<span class="label label-sale">-15%</span>
												<!--full quick view block-->
												<a class="quickview iframe-link visible-lg" data-fancybox-type="iframe" (click)="onClick(ribbon2Item.advertitemcode)">  Quickview</a>
												<!--end full quick view block-->
											</div>
											<div class="right-block">
												<div class="caption">
													<h4><a >Cupim Bris</a></h4>		
													<div class="ratings">
														<div class="rating-box">
															<span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
															<span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
															<span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
															<span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
															<span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
														</div>
													</div>
																		
													<div class="price">
														<span class="price-new">$50.00</span> 
														<span class="price-old">$62.00</span>		 
													</div>
												</div>
												
												  <div class="button-group">
													<button class="addToCart" type="button" data-toggle="tooltip" title="" onclick="cart.add('42', '1');" data-original-title="Add to Cart"><i class="fa fa-shopping-cart"></i> <span class="">Add to Cart</span></button>
													<button class="wishlist" type="button" data-toggle="tooltip" title="" onclick="wishlist.add('42');" data-original-title="Add to Wish List"><i class="fa fa-heart"></i></button>
													<button class="compare" type="button" data-toggle="tooltip" title="" onclick="compare.add('42');" data-original-title="Compare this Product"><i class="fa fa-exchange"></i></button>
												  </div>
											</div><!-- right block -->
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="owl2-controls">
							<div class="owl2-nav">
								<div class="owl2-prev">
								</div>
								<div class="owl2-next" >
								</div>
							</div>
							<div class="owl2-dots" style="display: none;">
							</div>
						</div>
					</div>
								
							</div>
							<div class="ltabs-items items-category-18 grid" data-total="11">
								<div class="ltabs-loading"></div>
								
							</div>
							<div class="ltabs-items  items-category-25 grid" data-total="11">
								<div class="ltabs-loading"></div>
							</div>
						</div>
						
						<!--End Items-->
						
						</div>
						
					</div>
      </div>
      
      <div class="module tab-slider titleLine">
        <h3 class="modtitle">New Products</h3>
        <div id="so_listing_tabs_1" class="so-listing-tabs first-load module">
          <div class="ltabs-wrap">
            <div class="ltabs-tabs-container" data-delay="300" data-duration="600" data-effect="starwars" data-ajaxurl="" data-type_source="0" data-lg="3" data-md="2" data-sm="2" data-xs="1"  data-margin="30">
              <!--Begin Tabs-->
              <div class="ltabs-tabs-wrap"> 
              <span class="ltabs-tab-selected">Jewelry &amp; Watches	</span> <span class="ltabs-tab-arrow">▼</span>
                <div class="item-sub-cat">
                  <ul class="ltabs-tabs cf">
                    <li class="ltabs-tab tab-sel" data-category-id="20" data-active-content=".items-category-20"> <span class="ltabs-tab-label">Jewelry &amp; Watches</span> </li>
                  </ul>
                </div>
              </div>
              <!-- End Tabs-->
            </div>
            <div class="ltabs-items-container">
              <!--Begin Items-->
              <div class="ltabs-items ltabs-items-selected items-category-20 grid" data-total="10" >
                <div class="ltabs-items-inner ltabs-slider " *ngFor="let ribbon1Item of ribbon1Response">
                  <div class="ltabs-item product-layout">
                    <div class="product-item-container">
                      <div class="left-block">
                        <div class="product-image-container second_img ">
                          <img src="https://s3-eu-west-1.amazonaws.com{{ribbon1Item.imageurl}}"  alt="Apple Cinema 30&quot;" class="img-responsive" />
                          <img src="https://s3-eu-west-1.amazonaws.com{{ribbon1Item.imageurl}}"  alt="Apple Cinema 30&quot;" class="img_0 img-responsive" />
                        </div>
                        
                        <!--full quick view block-->
                        <a class="quickview iframe-link visible-lg" (click)="onClick(ribbon1Item.advertitemcode)" data-fancybox-type="iframe" >  Quickview</a>
                        <!--end full quick view block-->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="ltabs-items items-category-18 grid" data-total="11">
                <div class="ltabs-loading"></div>
                
              </div>
              <div class="ltabs-items  items-category-25 grid" data-total="11">
                <div class="ltabs-loading"></div>
              </div>
            </div>
            <!--End Items-->
            
            
          </div>
          
        </div>
      </div>
      
      <div class="module tab-slider titleLine">
        <h3 class="modtitle">New Products</h3>
        <div id="so_listing_tabs_2" class="so-listing-tabs first-load module">
						<div class="ltabs-wrap">
							<div class="ltabs-tabs-container" data-delay="300" data-duration="600" data-effect="starwars" data-ajaxurl="" data-type_source="0" data-lg="2" data-md="2" data-sm="2" data-xs="1" data-margin="30">
								<!--Begin Tabs-->
								<div class="ltabs-tabs-wrap"> 
								<span class="ltabs-tab-selected">Jewelry &amp; Watches						</span> <span class="ltabs-tab-arrow">▼</span>
									<div class="item-sub-cat">
										<ul class="ltabs-tabs cf">
											<li class="ltabs-tab tab-sel" data-category-id="20" data-active-content=".items-category-20"> <span class="ltabs-tab-label">Jewelry &amp; Watches						</span> </li>
										</ul>
									</div>
								</div>
								<!-- End Tabs-->
							</div>
							<div class="ltabs-items-container">
								<!--Begin Items-->
								<div class="ltabs-items ltabs-items-selected items-category-20 grid" data-total="10">
									<div class="ltabs-items-inner ltabs-slider  owl2-carousel owl2-theme owl2-loaded">
											
										
									<div class="owl2-stage-outer">
										<div class="owl2-stage" style="transform: translate3d(0px, 0px, 0px); transition: 0s; width: 1200px;">
										<div class="owl2-item active" style="width: 570px; margin-right: 30px;" *ngFor="let ribbon3item of ribbon3Response">
											<div class="ltabs-item product-layout">
											<div class="product-item-container">
												<div class="left-block">
													<div class="product-image-container second_img ">
														<img src="https://s3-eu-west-1.amazonaws.com{{ribbon3item.imageurl}}" alt="Apple Cinema 30&quot;" class="img-responsive">
														<img src="https://s3-eu-west-1.amazonaws.com{{ribbon3item.imageurl}}" alt="Apple Cinema 30&quot;" class="img_0 img-responsive">
													</div>
													
													<!--full quick view block-->
													<a class="quickview iframe-link visible-lg" data-fancybox-type="iframe" (click)="onClick(ribbon3item.advertitemcode)">  Quickview</a>
													<!--end full quick view block-->
												</div>
												<div class="right-block">
													<div class="caption">
														<h4><a href="product.html">Et Spare</a></h4>		
														<div class="ratings">
															<div class="rating-box">
																<span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
																<span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
																<span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
																<span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
																<span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
															</div>
														</div>
																			
														<div class="price">
															<span class="price-new">$65.00</span> 
														</div>
													</div>
													
													  <div class="button-group">
														<button class="addToCart" type="button" data-toggle="tooltip" title="" onclick="cart.add('42', '1');" data-original-title="Add to Cart"><i class="fa fa-shopping-cart"></i> <span class="">Add to Cart</span></button>
														<button class="wishlist" type="button" data-toggle="tooltip" title="" onclick="wishlist.add('42');" data-original-title="Add to Wish List"><i class="fa fa-heart"></i></button>
														<button class="compare" type="button" data-toggle="tooltip" title="" onclick="compare.add('42');" data-original-title="Compare this Product"><i class="fa fa-exchange"></i></button>
													  </div>
												</div><!-- right block -->
											</div>
										</div>
									</div>
									 </div>
									</div>
										<div class="owl2-controls">
											<div class="owl2-nav">
												<div class="owl2-prev">
												</div><div class="owl2-next">
												</div>
											</div>
											<div class="owl2-dots" style="display: none;"></div>
										</div>
									</div>
									
								</div>
								<div class="ltabs-items items-category-18 grid" data-total="11">
									<div class="ltabs-loading"></div>
									
								</div>
								<div class="ltabs-items  items-category-25 grid" data-total="11">
									<div class="ltabs-loading"></div>
								</div>
							</div>
							<!--End Items-->
							
							
						</div>
						
					</div>
      </div>
    </div>
  </div>
</div>
<!-- <div id="snackbar" *ngIf="httpErrorDispaly">
	{{httpCode}}
	<a (click)="errorClose();"><span class="close">&#10006;</span></a>
</div> -->

<!-- //Main Container -->

<!-- <div *ngFor="let adverts of defaultsAdvertsResponse">
<p *ngIf="adverts.sectionheading == 'STRIP'">{{adverts.sectionheading}}</p>
<p *ngIf="adverts.sectionheading == 'SLIDER'">{{adverts.sectionheading}}</p>
<p *ngIf="adverts.sectionheading == 'SIDEBAR'">{{adverts.sectionheading}}</p>
<p *ngIf="adverts.sectionheading == 'RIBBON1'">{{adverts.sectionheading}}</p>
<p *ngIf="adverts.sectionheading == 'RIBBON2'">{{adverts.sectionheading}}</p>
<p *ngIf="adverts.sectionheading == 'RIBBON3'">{{adverts.sectionheading}}</p>
</div> -->
<div class="container" >
		<div class="row">
			<div class="col-md-12">
				<h2>Trending <b>Products</b></h2>
				<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="0">
				<!-- Carousel indicators -->
				<ol class="carousel-indicators">
					<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
					<li data-target="#myCarousel" data-slide-to="1"></li>
				</ol>   
				<!-- Wrapper for carousel items -->
				<div class="carousel-inner">
					<div class="item carousel-item active">
							<div class="row">
								<div class="col-sm-3">
									<div class="thumb-wrapper">
										<div class="img-box">
											<img src="https://s3-eu-west-1.amazonaws.com/sprkrpvvak/1ds/prajagatham/adverts/20181020/0800/Stormtrooper_helmets_600_grande.jpg" class="img-responsive img-fluid" alt="">
										</div>
										<div class="thumb-content">
											<h4>Apple iPhone</h4>
											<p class="item-price"> <span>$349.00</span></p>
											<div class="star-rating">
												<ul class="list-inline">
													<li class="list-inline-item"><i class="fa fa-star"></i></li>
													<li class="list-inline-item"><i class="fa fa-star"></i></li>
													<li class="list-inline-item"><i class="fa fa-star"></i></li>
													<li class="list-inline-item"><i class="fa fa-star"></i></li>
													<li class="list-inline-item"><i class="fa fa-star-o"></i></li>
												</ul>
											</div>
											<a href="#" class="btn btn-primary">Add to Cart</a>
										</div>						
									</div>
								</div>
								<div class="col-sm-3">
									<div class="thumb-wrapper">
										<div class="img-box">
											<img src="https://s3-eu-west-1.amazonaws.com/sprkrpvvak/1ds/prajagatham/adverts/20181020/0800/IMG_0030_large.jpg" class="img-responsive img-fluid" alt="">
										</div>
										<div class="thumb-content">
											<h4>Canon DSLR</h4>
											<p class="item-price"> <span>$250.00</span></p>
											<div class="star-rating">
												<ul class="list-inline">
													<li class="list-inline-item"><i class="fa fa-star"></i></li>
													<li class="list-inline-item"><i class="fa fa-star"></i></li>
													<li class="list-inline-item"><i class="fa fa-star"></i></li>
													<li class="list-inline-item"><i class="fa fa-star"></i></li>
													<li class="list-inline-item"><i class="fa fa-star-o"></i></li>
												</ul>
											</div>
											<a href="#" class="btn btn-primary">Add to Cart</a>
										</div>						
									</div>
								</div>
								<div class="col-sm-3">
									<div class="thumb-wrapper">
										<div class="img-box">
											<img src="https://s3-eu-west-1.amazonaws.com/sprkrpvvak/1ds/prajagatham/adverts/20181020/0800/IMG_0030_large.jpg" class="img-responsive img-fluid" alt="">
										</div>
										<div class="thumb-content">
											<h4>Google Pixel</h4>
											<p class="item-price"><span>$418.00</span></p>
											<div class="star-rating">
												<ul class="list-inline">
													<li class="list-inline-item"><i class="fa fa-star"></i></li>
													<li class="list-inline-item"><i class="fa fa-star"></i></li>
													<li class="list-inline-item"><i class="fa fa-star"></i></li>
													<li class="list-inline-item"><i class="fa fa-star"></i></li>
													<li class="list-inline-item"><i class="fa fa-star-o"></i></li>
												</ul>
											</div>
											<a href="#" class="btn btn-primary">Add to Cart</a>
										</div>						
									</div>
								</div>	
								<div class="col-sm-3">
									<div class="thumb-wrapper">
										<div class="img-box">
											<img src="https://s3-eu-west-1.amazonaws.com/sprkrpvvak/1ds/prajagatham/adverts/20181020/0800/IMG_0030_large.jpg" class="img-responsive img-fluid" alt="">
										</div>
										<div class="thumb-content">
											<h4>Apple Watch</h4>
											<p class="item-price"><span>$330.00</span></p>
											<div class="star-rating">
												<ul class="list-inline">
													<li class="list-inline-item"><i class="fa fa-star"></i></li>
													<li class="list-inline-item"><i class="fa fa-star"></i></li>
													<li class="list-inline-item"><i class="fa fa-star"></i></li>
													<li class="list-inline-item"><i class="fa fa-star"></i></li>
													<li class="list-inline-item"><i class="fa fa-star-o"></i></li>
												</ul>
											</div>
											<a href="#" class="btn btn-primary">Add to Cart</a>
										</div>						
									</div>
								</div>
							</div>
						</div>
					<div class="item carousel-item">
						<div class="row">
							<div class="col-sm-3">
								<div class="thumb-wrapper">
									<div class="img-box">
										<img src="https://s3-eu-west-1.amazonaws.com/sprkrpvvak/1ds/prajagatham/adverts/20181020/0800/IMG_0030_large.jpg" class="img-responsive img-fluid" alt="">
									</div>
									<div class="thumb-content">
										<h4>Apple iPhone</h4>
										<p class="item-price"> <span>$349.00</span></p>
										<div class="star-rating">
											<ul class="list-inline">
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star-o"></i></li>
											</ul>
										</div>
										<a href="#" class="btn btn-primary">Add to Cart</a>
									</div>						
								</div>
							</div>
							<div class="col-sm-3">
								<div class="thumb-wrapper">
									<div class="img-box">
										<img src="https://s3-eu-west-1.amazonaws.com/sprkrpvvak/1ds/prajagatham/adverts/20181020/0800/IMG_0030_large.jpg" class="img-responsive img-fluid" alt="">
									</div>
									<div class="thumb-content">
										<h4>Canon DSLR</h4>
										<p class="item-price"> <span>$250.00</span></p>
										<div class="star-rating">
											<ul class="list-inline">
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star-o"></i></li>
											</ul>
										</div>
										<a href="#" class="btn btn-primary">Add to Cart</a>
									</div>						
								</div>
							</div>
							<div class="col-sm-3">
								<div class="thumb-wrapper">
									<div class="img-box">
										<img src="https://s3-eu-west-1.amazonaws.com/sprkrpvvak/1ds/prajagatham/adverts/20181020/0800/IMG_0030_large.jpg" class="img-responsive img-fluid" alt="">
									</div>
									<div class="thumb-content">
										<h4>Google Pixel</h4>
										<p class="item-price"><span>$418.00</span></p>
										<div class="star-rating">
											<ul class="list-inline">
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star-o"></i></li>
											</ul>
										</div>
										<a href="#" class="btn btn-primary">Add to Cart</a>
									</div>						
								</div>
							</div>	
							<div class="col-sm-3">
								<div class="thumb-wrapper">
									<div class="img-box">
										<img src="https://s3-eu-west-1.amazonaws.com/sprkrpvvak/1ds/prajagatham/adverts/20181020/0800/IMG_0030_large.jpg" class="img-responsive img-fluid" alt="">
									</div>
									<div class="thumb-content">
										<h4>Apple Watch</h4>
										<p class="item-price"><span>$330.00</span></p>
										<div class="star-rating">
											<ul class="list-inline">
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star-o"></i></li>
											</ul>
										</div>
										<a href="#" class="btn btn-primary">Add to Cart</a>
									</div>						
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Carousel controls -->
				<a class="carousel-control left carousel-control-prev" href="#myCarousel" data-slide="prev">
					<i class="fa fa-angle-left"></i>
				</a>
				<a class="carousel-control right carousel-control-next" href="#myCarousel" data-slide="next">
					<i class="fa fa-angle-right"></i>
				</a>
			</div>
			</div>
		</div>
	</div>