.advertsMain{
	background: #F2F3F7;
}

#snackbar {
    visibility: visible;
    min-width: 250px;
    margin-left: -125px;
    background-color: #d44950;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0);
	transition: background 0.5s ease;
  }
  .buttonimg {
	position: absolute;
	width: 500px;
	left:0;
	top: 180px;
	text-align: center;
	opacity: 0;
	transition: opacity .35s ease;
  }
  .buttonimgRibbon {
	position: absolute;
	width: 500px;
	left: 30%;
	top: 180px;
	text-align: center;
	opacity: 0;
	transition: opacity .35s ease;
  }
  
  .buttonimgRibbon a {
	width: 200px;
	padding: 12px 48px;
	text-align: center;
	color: #fff;
	border: solid 2px #444;
	background: #000;
	z-index: 1;
  }
  .buttonimg a {
	width: 200px;
	padding: 12px 48px;
	text-align: center;
	color: #fff;
	border: solid 2px #444;
	background: #000;
	z-index: 1;
  }
  
  .thumb-wrapper:hover .buttonimg {
	opacity: 1;
	text-align: center;
  }
  .thumb-wrapper:hover .buttonimgRibbon {
	opacity: 1;
	text-align: center;
  }

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

.close{
  color:#fff;
 cursor: pointer;
  position: absolute;
  right: 5px;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
  top: 3px;
}

h3 {
	color: #000;
	font-size: 26px;
	font-weight: 300;
	text-align: center;
	text-transform: uppercase;
	position: relative;
	margin: 30px 0 80px;
}
h3 b {
	color: #ffc000;
}
h3::after {
	content: "";
	width: 100px;
	position: absolute;
	margin: 0 auto;
	height: 4px;
	background: rgba(0, 0, 0, 0.2);
	left: 0;
	right: 0;
	bottom: -20px;
}
.carousel {
	margin: 50px auto;
	padding: 0 70px;
}
.carousel .item {
	min-height: 330px;
    text-align: center;
	overflow: hidden;
}
.carousel .item .img-box {
	height: 160px;
	width: 100%;
	position: relative;
}
.carousel .item img {	
	max-width: 100%;
	max-height: 100%;
	display: inline-block;
	position: absolute;
	bottom: 0;
	margin: 0 auto;
	left: 0;
	right: 0;
}
.carousel .item h4 {
	font-size: 18px;
	margin: 10px 0;
}
.carousel .item .btn {
	color: #333;
    border-radius: 0;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
    background: none;
    border: 1px solid #ccc;
    padding: 5px 10px;
    margin-top: 5px;
    line-height: 16px;
}
.carousel .item .btn:hover, .carousel .item .btn:focus {
	color: #fff;
	background: #000;
	border-color: #000;
	box-shadow: none;
}
.carousel .item .btn i {
	font-size: 14px;
    font-weight: bold;
    margin-left: 5px;
}
.thumb-wrapper {
	text-align: center;
	position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 5%;
}
.carousel .thumb-content {
	padding: 15px;
}
.carousel .carousel-control {
	height: 100px;
    width: 40px;
    background: none;
    margin: auto 0;
    background: rgba(0, 0, 0, 0.2);
}
.carousel .carousel-control i {
    font-size: 30px;
    position: absolute;
    top: 50%;
    display: inline-block;
    margin: -16px 0 0 0;
    z-index: 5;
    left: 0;
    right: 0;
    color: rgba(0, 0, 0, 0.8);
    text-shadow: none;
    font-weight: bold;
}
.carousel .item-price {
	font-size: 13px;
	padding: 2px 0;
}
.carousel .item-price strike {
	color: #999;
	margin-right: 5px;
}
.carousel .item-price span {
	color: #86bd57;
	font-size: 110%;
}
.carousel .carousel-control.left i {
	margin-left: -3px;
}
.carousel .carousel-control.left i {
	margin-right: -3px;
}
.carousel .carousel-indicators {
	bottom: -50px;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 10px;
	height: 10px;
	margin: 4px;
	border-radius: 50%;
	border-color: transparent;
}
.carousel-indicators li {	
	background: rgba(0, 0, 0, 0.2);
}
.carousel-indicators li.active {	
	background: rgba(0, 0, 0, 0.6);
}
.star-rating li {
	padding: 0;
}
.star-rating i {
	font-size: 14px;
	color: #ffc000;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    display: block;
    max-width: 100%;
    height: 250px !important;
}

.divleft{
float: left;
width:70%;
position: relative;
min-height: 1px;
padding-right: 15px;
padding-left: 15px;
}
.divRight{
	float: right;
	width:30%;
	margin-top:55px;
	position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 768px){
	.divleft{
	  float: left;
	  width:70%;
	 }
	.divRight{
	   float: right;
	   width:30%;
	   margin-top:55px;
	 }
	 
}

.cookie{
	background-color: #000;
    filter: alpha(opacity=85);
    opacity: .85;
    padding: 10px 18px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 200;
    min-height: 20px;
}
 .cookie p{
	color: #c2c2c2;
    font-size: 14px;
    margin: 0 38px 0 0;
    padding-right: 10px;
    min-height: 35px;
	line-height: 15px;
	text-align: center;
 }
 .cookie .button {
    padding: 0 16px;
    background: #70cbf4;
    color: #fff;
}