<!-- Header Container  -->
<header  id="header" class=" variantleft type_6">
	<!-- Header Top -->
	<div class="header-top compact-hidden">
			<div class="container">
				<div class="row">
					<div class="header-top-left form-inline col-sm-5 col-xs-12 compact-hidden">
						<div class="form-group languages-block ">
							<form action="index.html" method="post" enctype="multipart/form-data" id="bt-language">
								<a class="btn btn-xs dropdown-toggle" data-toggle="dropdown">
									<img src="assets/image/demo/flags/gb.png" alt="English" title="English">
									<span class="">English</span>
									<span class="fa fa-angle-down"></span>
								</a>
								<ul class="dropdown-menu" *ngFor="let leftItems of topleftItems">
									<li *ngFor="let subTofleftItems of leftItems.lists.list">
										<a href="https://{{subTofleftItems?.clickurl}}">
										<img class="image_flag" src="{{subTofleftItems.icon}}" alt="{{subTofleftItems.name}}" title="{{subTofleftItems.name}}" /> {{subTofleftItems.name}} </a>
									</li>
								</ul>
							</form>
						</div>

						<div class="form-group currencies-block">
							<form action="index.html" method="post" enctype="multipart/form-data" id="currency">
								<a class="btn btn-xs dropdown-toggle" data-toggle="dropdown">
									<span class="icon icon-credit "></span> US Dollar <span class="fa fa-angle-down"></span>
								</a>
								<ul class="dropdown-menu btn-xs">
									<li> <a href="JavaScript:void(0);">(€)&nbsp;Euro</a></li>
									<li> <a href="JavaScript:void(0);">(£)&nbsp;Pounds	</a></li>
									<li> <a href="JavaScript:void(0);">($)&nbsp;US Dollar	</a></li>
								</ul>
							</form>
						</div>
					</div>
					<div class="header-top-right collapsed-block text-right  col-sm-7 col-xs-12 compact-hidden">
						<h5 class="tabBlockTitle visible-xs">More<a class="expander " href="#TabBlock-1"><i class="fa fa-angle-down"></i></a></h5>
						<div class="tabBlock" id="TabBlock-1">
							<ul class="top-link list-inline">
								<li *ngFor="let rightMainItems of topRightItems" class="account" id="my_account">
									<a  href="{{rightMainItems?.clickurl}}" title="{{rightMainItems.name}}" class="btn btn-xs dropdown-toggle" >
										 <i class="fa" [ngClass]="{'fa-lock': rightMainItems.name === 'Login', 'fa-user': rightMainItems.name === 'Register', 'fa-heart': rightMainItems.name === 'My Wish List'}" ></i> {{rightMainItems.name}} </a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	<!-- //Header Top -->
	
	<!-- Header center -->
	<div class="header-center left">
		<div class="container">
			<div class="row">
				<!-- Logo -->
				<div style="padding-top:5px;" class="navbar-logo col-md-3 col-sm-12 col-xs-12">
						<a href="{{mainLogo?.clickurl}}"><img src="{{mainLogo?.image}}" title="Your Store" alt="{{mainLogo?.itemtype}}"></a>
					</div>
				<!-- //end Logo -->
				<!-- Search -->
					<div id="sosearchpro" class="col-md-5 col-sm-7 search-pro">
						<form method="GET" action="index.html">
							<div id="search0" class="search input-group">
								<div class="select_category filter_type icon-select">
									<select class="no-border" name="category_id">
										<option value="0">All Categories</option>
										<option value="78">Apparel</option>
										<option value="77">Cables &amp; Connectors</option>
										<option value="82">Cameras &amp; Photo</option>
										<option value="80">Flashlights &amp; Lamps</option>
										<option value="81">Mobile Accessories</option>
										<option value="79">Video Games</option>
										<option value="20">Jewelry &amp; Watches</option>
										<option value="76">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Earings</option>
										<option value="26">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Wedding Rings</option>
										<option value="27">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Men Watches</option>
									</select>
								</div>

								<input class="autosearch-input form-control" type="text" value="" size="50" autocomplete="off" placeholder="Enter keywords to search..." name="search">
								<span class="input-group-btn">
								<button type="submit" class="button-search btn btn-primary" name="submit_search"><i class="fa fa-search"></i></button>
								</span>
							</div>
							<input type="hidden" name="route" value="product/search">
						</form>
					</div>
					<!-- //Search -->
				<!-- Main Menu -->
					<div class="phone-contact col-md-2  hidden-md hidden-sm hidden-xs">
							<a class="anchor-tag" href="{{mainRightCallNow?.clickurl}}">
							  <div class="inner-info">
								  <strong>{{mainRightCallNow?.boldtext}}</strong><br>
								  <span>{{mainRightCallNow?.lighttext}}</span>
							  </div>
							</a>
					</div>
					<!-- //Main Menu -->

					<!-- Shopping Cart -->
					<div class="col-lg-2 col-md-3 col-sm-4 col-xs-12 shopping_cart pull-right">
						<!--cart-->
						<div id="cart" class="btn-group btn-shopping-cart">
							<a data-loading-text="Loading..." class="top_cart dropdown-toggle" data-toggle="dropdown">
								<div class="shopcart">
									<span class="handle pull-left"></span>
									<span class="title">{{mainRightShoppingCart?.boldtext}}</span>
									<p class="text-shopping-cart cart-total-full">{{mainRightShoppingCart?.lighttext}}</p>
								</div>
							</a>

							<ul class="tab-content content dropdown-menu pull-right shoppingcart-box" role="menu">
								<li>
									<table class="table table-striped">
										<tbody>
											<tr>
												<td class="text-center" style="width:70px">
													<a href="{{mainRightShoppingCart?.clickurl}}"> <img src="assets/image/demo/shop/product/resize/2.jpg" style="width:70px" alt="Filet Mign" title="Filet Mign" class="preview"> </a>
												</td>
												<td class="text-left"> <a class="cart_product_name" href="{{mainRightShoppingCart ?.clickurl}}">Filet Mign</a> </td>
												<td class="text-center"> x1 </td>
												<td class="text-center"> $1,202.00 </td>
												<td class="text-right">
													<a href="{{mainRightShoppingCart?.clickurl}}" class="fa fa-edit"></a>
												</td>
												<td class="text-right">
													<a onclick="cart.remove('2');" class="fa fa-times fa-delete"></a>
												</td>
											</tr>
											<tr>
												<td class="text-center" style="width:70px">
													<a href="product.html"> <img src="assets/image/demo/shop/product/resize/3.jpg" style="width:70px" alt="Canon EOS 5D" title="Canon EOS 5D" class="preview"> </a>
												</td>
												<td class="text-left"> <a class="cart_product_name" href="{{mainRightShoppingCart?.clickurl}}">Canon EOS 5D</a> </td>
												<td class="text-center"> x1 </td>
												<td class="text-center"> $60.00 </td>
												<td class="text-right">
													<a href="{{mainRightShoppingCart?.clickurl}}" class="fa fa-edit"></a>
												</td>
												<td class="text-right">
													<a onclick="cart.remove('1');" class="fa fa-times fa-delete"></a>
												</td>
											</tr>
										</tbody>
									</table>
								</li>
								<li>
									<div>
										<table class="table table-bordered">
											<tbody>
												<tr>
													<td class="text-left"><strong>Sub-Total</strong>
													</td>
													<td class="text-right">$1,060.00</td>
												</tr>
												<tr>
													<td class="text-left"><strong>Eco Tax (-2.00)</strong>
													</td>
													<td class="text-right">$2.00</td>
												</tr>
												<tr>
													<td class="text-left"><strong>VAT (20%)</strong>
													</td>
													<td class="text-right">$200.00</td>
												</tr>
												<tr>
													<td class="text-left"><strong>Total</strong>
													</td>
													<td class="text-right">$1,262.00</td>
												</tr>
											</tbody>
										</table>
										<p class="text-right"> <a class="btn view-cart" href="cart.html"><i class="fa fa-shopping-cart"></i>View Cart</a>&nbsp;&nbsp;&nbsp; <a class="btn btn-mega checkout-cart" href="checkout.html"><i class="fa fa-share"></i>Checkout</a> </p>
									</div>
								</li>
							</ul>
						</div>
						<!--//cart-->
					</div>
					<!-- //Shopping Cart -->
				</div>
			</div>

		</div>
	<!-- //Header center -->

	<div style="background-color:#0d4e76;" class="header-bottom">
			<div class="container">
				<div class="row">
					<!-- Sidebar menu -->
					<div class="sidebar-menu col-md-3 col-sm-6 col-xs-12  ">
						<div class="responsive so-megamenu ">
							<div class="so-vertical-menu no-gutter compact-hidden">
								<nav class="navbar-default">
										<div class="navigation">
												<ul>
												  <li class="has-sub"> 
													  <a href="JavaScript:void(0);">&#9776;  All Categories</a>
													<ul>
													  <li class="has-sub"> <a href="JavaScript:void(0);"><span>Product &amp; Sectors</span></a>
														<ul>
														  <li class="has-sub" *ngFor="let productSectorsItems of productSectors">
															  <a href="{{productSectorsItems.SectorUrl}}">{{productSectorsItems.SectorName}}</a>
															<ul>
															  <li *ngFor="let subItem of productSectorsItems.Industries.IndustryName" >
																  <a href="{{productSectorsItems.Industries.IndustryUrl}}">{{subItem}}</a>
															  </li>
															</ul>
														  </li>
														</ul>
													  </li>
													  <li class="has-sub"> <a href="JavaScript:void(0);"><span>Services &amp; Sectors</span></a>
														<ul>
														  <li class="has-sub" *ngFor="let serviceSectorsItems of serviceSectors">
															  <a href="{{serviceSectorsItems.SectorUrl}}">{{serviceSectorsItems.SectorName}}</a>
															<ul>
															  <li *ngFor="let subItem of serviceSectorsItems.Industries.IndustryName" >
																  <a href="{{serviceSectorsItems.Industries.IndustryUrl}}">{{subItem}}</a>
															  </li>
															</ul>
														  </li>
														</ul>
													  </li>
													</ul>
												  </li>
												</ul>
											  </div>	
									
									</nav>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	<!-- Navbar switcher -->
	<!-- //end Navbar switcher -->
	</header>